<h1>Edit a competence</h1>
<%= form_with(model: @cv_competence, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, autofocus: true, autocomplete: "title", class: "form-control", required: true %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content, autofocus: true, autocomplete: "your content", class: "form-control", required: true %>
  </div>
  <%= form.submit "Submit", class: "btn btn-sm btn-outline-secondary" %>
<% end %>