<h1>adding a new competence</h1>
<%= form_with(scope: :cv_competences, url: cv_competence_create_path, local: true) do |form| %>

  <div>
    <div class="form-group">
      <%= form.label :title %><br>
      <%= form.text_field :title, autofocus: true, autocomplete: "title", class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :info %><br>
      <%= form.text_field :info, autofocus: true, autocomplete: "new info", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :info_two %><br>
      <%= form.text_field :info_two, autofocus: true, autocomplete: "new info", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :info_three %><br>
      <%= form.text_field :info_three, autofocus: true, autocomplete: "new info", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :info_four %><br>
      <%= form.text_field :info_four, autofocus: true, autocomplete: "new info", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :info_five %><br>
      <%= form.text_area :info_five, autofocus: true, autocomplete: "new info", class: "form-control" %>
    </div>


      <div>
        <%= form.submit "Submit", class: "btn btn-sm btn-outline-secondary" %>

        <div class="shared-buttons">
          <%= render "shared/shared_buttons" %>
        </div>
      </div>
      </div>

<% end %>
