<h1>Add a new competence</h1>
<%= form_with(scope: :cv_competence, url: cv_competence_create_path, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, autofocus: true, autocomplete: "title", class: "form-control", required: true %>
  </div>

  <%= render partial: 'shared/active_form', locals: {form: form} %>

  <div class="submit">
    <%= form.submit "Submit", class: "btn btn-sm btn-outline-secondary" %>
  </div>
<% end %>
