<h2><i class="fas fa-newspaper" class="table-dark"> <%= @cv_competence.title %>'s card </i></h2>

<ul class="list-group list-group-flush" style="max-width: 25rem">
  <li class="list-group-item cv-date"><%= @cv_competence.title %></li>
  <div class="list-group-item text-style">
    <% unless @cv_competence.info.empty? %>
      <li><%= @cv_competence.info %></li>
    <% end %>
    <% unless @cv_competence.info_two.empty? %>
      <li><%= @cv_competence.info_two %></li>
    <% end %>
    <% unless @cv_competence.info_three.empty? %>
      <li><%= @cv_competence.info_three %></li>
    <% end %>
    <% unless @cv_competence.info_four.empty? %>
      <li><%= @cv_competence.info_four %></li>
    <% end %>
    <% unless @cv_competence.info_five.empty? %>
      <li><%= @cv_competence.info_five %></li>
    <% end %>
  </div>
</ul>

<% if current_user.admin %>
  <%= link_to 'edit', edit_cv_competence_path(@cv_competence), class: "btn btn-outline-success" %>
<% end %>
<% if current_user.admin %>
  <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal<%= @cv_competence.id %>">
    delete
  </button>
<% end %>
<%= link_to 'back', :back, class: "btn btn-outline-dark" %>
<%= link_to 'CV competences', {controller: 'cv_competences'}, class: "btn btn-outline-primary" %>
<%= link_to 'home', {controller: 'home'}, class: "btn btn-outline-primary" %>


<%= render partial: "shared/delete_modal", locals: {link_to_delete: url_for(cv_competence_destroy_path(@cv_competence)), object_to_delete: @cv_competence} %>
