<ul class="list-group list-group-flush">
  <li class="list-group-item cv-title"><%= cv_competence.title %></li>

  <div class="list-group-item text-style">
    <% for info_number in ['one', 'two', 'three', 'four', 'five'] %>
      <% unless cv_competence.send("info_#{info_number}".to_sym).empty? %>
        <li><%= cv_competence.send("info_#{info_number}".to_sym) %></li>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if !current_user.nil? && current_user.admin %>
      <a href="<%= cv_competence_path(cv_competence) %>"><i class="far fa-eye"></i></a>
      <a href="<%= edit_cv_competence_path(cv_competence) %>"><i class="fas fa-edit"></i></a>
      <a type="button" data-toggle="modal" data-target="#deleteModal<%= cv_competence.id %>">
        <i class="far fa-trash-alt"></i></a>
    <% end %>
  </div>
</ul>


<%= render partial: "shared/delete_modal", locals: {link_to_delete: url_for(cv_competence_destroy_path(cv_competence)), object_to_delete: cv_competence} %>

<!--render the partial / created locals => avec la variable 'link_to_delete' dans lequel on transmet le lien avec le path lié à la suppression ainsi l'ID  de l'élément à suprimer "-->


<%# for info_number in ['one', 'two', 'three', 'four', 'five'] %>
<!--  <div class="form-group">-->
<!--    <%#= form.label "info_#{info_number}".to_sym %><br>-->
<%#= form.text_field "info_#{info_number}".to_sym, autofocus: true, autocomplete: "new info", class: "form-control", require: info_required?(info_number) %>
<!--  </div>-->
<%# end %>