<div class="row col-md-6">
  <%= link_to 'Back', :back, class: "btn-sm btn-outline-secondary" %>
  <%= link_to 'My contacts', {controller: 'contacts'}, class: "btn-sm btn-outline-secondary" %>
  <%= link_to 'My Cv\'s', {controller: 'cv_cards'}, class: "btn-sm btn-outline-secondary" %>
  <%= link_to 'My competences', {controller: 'cv_competences'}, class: "btn-sm btn-outline-secondary" %>
  <%= link_to 'My chat', {controller: 'rooms'}, class: "btn-sm btn-outline-secondary" %>
  <%= link_to 'home', {controller: 'home'}, class: "btn-sm btn-outline-secondary" %>
</div>