<h1><i class="far fa-newspaper"> </i>  <%= @cv_card.business %> Curriculum vitæ edit</h1>

<%= form_with(model: @cv_card, local: true) do |form| %>


  <div class="cv-modal">
    <div class="form-group">
      <%= form.label :business %><br>
      <%= form.text_field :business, autofocus: true, autocomplete: "business", class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :job %><br>
      <%= form.text_field :job, autofocus: true, autocomplete: "job", class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :date %><br>
      <%= form.text_field :date, autofocus: true, autocomplete: "date", class: "form-control", required: true %>
    </div>

    <% for competence_number in ['one', 'two', 'three', 'four', 'five'] %>
      <div class="form-group">
        <%= form.label "competence_#{competence_number}".to_sym %><br>
        <%= form.text_field "competence_#{competence_number}".to_sym, autofocus: true, autocomplete: "competence", class: "form-control", require: competence_required?(competence_number) %>
      </div>
    <% end %>


    <div class="form-group">
      <%= form.label :link %><br>
      <%= form.text_field :link, autofocus: true, autocomplete: "link", class: "form-control" %>
    </div>


    <div class="custom-file">
      <%= form.file_field :file, class: "custom-file-input", id: "customFileLang" %>
      <%= form.label 'picture', class: "custom-file-label", for: "customFileLang" %>

    </div>

    <%= render "shared/shared_buttons" %>
    <%= form.submit "Submit", class: "btn btn-sm btn-outline-secondary" %>

  </div>
<% end %>