<p>
  <strong>Title:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>
<p>
  <strong>Admin response:</strong>
  <% if @contact.admin_reply%>
  <%= @contact.admin_reply.text %>
  <% end %>
    </p>


<% if current_user.admin %>
  <p>
    <%= form_with(scope: :reply, local: true) do |form| %>
      <%= form.label :text %><br>
      <%= form.text_area :text %><br>
      <%= form.submit %>
    <% end %>
  </p>
<% end %>


<%= link_to 'my contacts', controller: 'contacts' %>
<%= link_to 'home', controller: 'home' %>



<h2>add a new contact!</h2>
<%= link_to 'New contact', new_contact_path %>

<% if current_user.admin %>
  <%= link_to 'edit', edit_contact_path(@contact) %>
<% end %>
<%= link_to 'back', contacts_path %>