<h1>
  <%= @room.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'shared/rooms' %>
  </div>

  <div class="col">
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <%= render partial: 'shared/chatroom_template', collection: @current_room_messages %>
    </div>
    <%= form_with(id: "new_room_message") do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :message, autofocus: true, autocomplete: "message", class: "form-control chat-input", required: true %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-dark chat-input' %>
        </div>
      </div>

      <%= form.hidden_field :room_id, autofocus: true, autocomplete: "room_id" %>
    <% end %>
  </div>
  <%= render partial: 'shared/authorized_users' %>
</div>

<div class="d-none" data-role="message-template">
  <%= render partial: 'shared/chatroom_template', locals: {chatroom_template: nil} %>
</div>


<% if flash[:success] %>
  <%= render partial: "shared/toast", locals: {message_to_send: flash[:success], notification_type: "success"} %>
<% end %>








<!--pour que le Js affiche un nouveau message, il a  besoin d'un template => afin de ne pas avoir deux fois le template
 nous aovns "RENDER" une nouvelle fois le template mais en donannt une donéne vide, cela permets de -->

<!--pour chacun des items de la collection, on render le partial -->